; {{ ansible_managed }}

[icinga2]
type = "db"
db = "mysql"
host = "localhost"
username = "{{ mariadb_icinga_user }}"
password = "{{ mariadb_icinga_password }}"
dbname = "{{ mariadb_icinga_db }}"

[icingaweb2]
type = "db"
db = "mysql"
host = "localhost"
username = "{{ mariadb_icingaweb2_user }}"
password =  "{{ mariadb_icingaweb2_password }}"
dbname = "{{ mariadb_icingaweb2_db }}"
