# {{ ansible_managed }}

deb http://ftp.de.debian.org/debian/ {{ ansible_distribution_release }} main contrib non-free
deb-src http://ftp.de.debian.org/debian/ {{ ansible_distribution_release }} main contrib non-free

deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free
deb-src http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free
